<%# locals: (departments: [], grade_levels: [], groups: [], routes: [], selected: {}, name_prefix: "assignment") -%>
<%#
  Scope picker. Each dimension defaults to "Toda la institución" (blank
  value = institution-wide). Options are [label, id] pairs.
-%>
<% dims = [["scope_department_id", "Departamento", departments],
           ["scope_grade_level_id", "Nivel/Grado", grade_levels],
           ["scope_group_id", "Grupo", groups],
           ["scope_route_id", "Ruta", routes]] -%>
<div class="scope-selector">
  <% dims.each do |field, label, options| -%>
    <div class="field">
      <label class="field__label" for="<%= name_prefix %>-<%= field %>"><%= label %></label>
      <select class="field__input" id="<%= name_prefix %>-<%= field %>" name="<%= name_prefix %>[<%= field %>]">
        <option value="">Toda la institución</option>
        <% Array(options).each do |opt_label, opt_id| -%>
          <option value="<%= opt_id %>" <%= "selected" if selected[field.to_sym] == opt_id %>><%= opt_label %></option>
        <% end -%>
      </select>
    </div>
  <% end -%>
</div>
